{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/try.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <h1>Cheeklu</h1>
        <p>PORTFOLIO</p>
      </div>
      <div class="main">
        <div class="try">
          <div class="box">
            <img src="{% static 'images/01.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/04.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/07.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/10.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/13.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/16.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/19.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/22.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/25.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/28.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/31.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/34.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/37.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/40.jpeg' %}" alt="" />
          </div>
        </div>
        <div class="try">
          <div class="box">
            <img src="{% static 'images/02.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/05.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/08.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/11.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/14.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/17.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/20.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/23.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/26.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/29.jpg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/32.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/35.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/38.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/41.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/44.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/43.jpeg' %}" alt="" />
          </div>
        </div>
        <div class="try">
          <div class="box">
            <img src="{% static 'images/03.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/06.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/09.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/12.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/15.PNG' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/18.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/21.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/24.png' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/27.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/30.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/33.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/36.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/39.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/42.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/45.jpeg' %}" alt="" />
          </div>
          <div class="box">
            <img src="{% static 'images/46.png' %}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
